// yarn add @babel/plugin-proposal-class-properties @babel/plugin-proposal-decorators

{
    "presets": [
      "react-app"
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true}],
        ["@babel/plugin-proposal-class-properties", { "loose": true}]
    ]
  }